@using appSchool.ViewModels
@using appSchool.Repositories
@{
    ViewBag.Title = "Teacher Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model System.Collections.IEnumerable



@section Head {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/GridView.css")" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/GridView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/jsControllers/teacherDataExportController.js")"></script>
}


@section PageToolbar {

    @Html.DevExpress().Menu(menuSettings =>
        {
            menuSettings.Name = "pageToolbar";

            menuSettings.ItemAutoWidth = false;
            menuSettings.AllowSelectItem = false;
            menuSettings.ApplyItemStyleToTemplates = true;

            menuSettings.SettingsAdaptivity.Enabled = true;
            menuSettings.SettingsAdaptivity.EnableAutoHideRootItems = true;
            menuSettings.SettingsAdaptivity.EnableCollapseRootItemsToIcons = true;
            menuSettings.SettingsAdaptivity.CollapseRootItemsToIconsAtWindowInnerWidth = 600;

            menuSettings.Width = Unit.Percentage(100);
            menuSettings.ControlStyle.SeparatorWidth = Unit.Pixel(0);
            menuSettings.ControlStyle.CssClass = "page-toolbar";

            menuSettings.Styles.Item.CssClass = "item";
            menuSettings.Styles.Item.VerticalAlign = VerticalAlign.Middle;

            menuSettings.Images.Item.Width = Unit.Pixel(16);
            menuSettings.Images.Item.Height = Unit.Pixel(16);

            menuSettings.Items.Add(item =>
            {
                item.Enabled = false;
                item.SetTemplateContent(template => ViewContext.Writer.Write("<h1>Teacher Report</h1>"));
            });
            }).GetHtml()
}

@section LeftPanelContent {


    @{Html.RenderAction("ReturnLeftPanelView", "LeftAndRightPanel", new { moduleid = (int)appModule.appAcademicManager });}


}

@section RightPanelContent {
    @{Html.RenderAction("ReturnRightPanelView", "LeftAndRightPanel");}

}


<div class="row" style="margin-right:0">

    <div class="col-sm-12">

    @Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "PopupControlChangeReportView";
    settings.AllowResize = true;
    settings.ShowHeader = true;
    settings.ShowFooter = true;
    settings.AllowDragging = true;
    settings.ShowCloseButton = false;
    settings.CloseAction = CloseAction.None;
    //settings.HeaderText = "Change Fees Structure";
    settings.CloseOnEscape = false;
    settings.Modal = false;
    settings.Width = 1000;
    settings.Height = 600;
    //settings.ContentUrl = "~/StudentListFeesStructure/Index?ispoup=1";
    settings.ContentUrl = "";
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.SetHeaderTemplateContent(content =>
    {
        

        ViewContext.Writer.Write("<div class='row'>  <div class='col-sm-10'>");

        ViewContext.Writer.Write("<span> Change Fees Structure</span> ");

        ViewContext.Writer.Write("</div> ");

        ViewContext.Writer.Write("<div class='col-sm-2'>");
        Html.DevExpress().Button(btn =>
        {
            btn.Name = "btnclosefeesstructurechange";
            btn.ControlStyle.CssClass = "form-control";
            btn.Text = "Save & Close";
            btn.ClientSideEvents.Click = "teacherDataExportController.CloseReportViewPopupLoading";

        }).GetHtml();
        ViewContext.Writer.Write("</div> </div>");

    });

    //settings.SetHeaderTemplateContent(() =>
    //{
    //    Html.RenderPartial("PopupCloseFeesStructureChage");
    //    //ViewContext.Writer.Write("<div id='divsmsresponse'  style='color:red'> </div>");
    //    //Html.DevExpress().Button(
    //    // btnsettings =>
    //    // {
    //    //     btnsettings.Name = "btnresetfees";
    //    //     btnsettings.ControlStyle.CssClass = "button btnpaddingrow15px";
    //    //     btnsettings.Text = "Reset Fees Structure";
    //    //     // settings.ClientSideEvents.Click = "feesTransactionController.Onclickreceiptsearchshowpopup";
    //    // }).GetHtml();

    //    //ViewContext.Writer.Write("<div id='divsmsresponse'  style='color:red'> </div>");

    //});


}).GetHtml()
    </div>

</div>




<div class="row">



    <div class="col-sm-2 col-6">
        @Html.DevExpress().CheckBox(settingchk =>
   {
       settingchk.Name = "cbSelectAll";
       settingchk.Text = "Select all";
       settingchk.ControlStyle.CssClass = "btnpaddingrow15px";
       settingchk.ControlStyle.ForeColor = System.Drawing.Color.Red;
       settingchk.ControlStyle.Font.Size = 14;
       settingchk.Properties.ClientSideEvents.CheckedChanged = "teacherDataExportController.SelectAllTeacher";
       // settingchk.Checked = c.Grid.VisibleRowCount == c.Grid.Selection.Count;
   }).GetHtml()
    </div>

    <div class="col-sm-2 col-6">
        @Html.DevExpress().Button(btn =>
        {
           btn.Name = "btnViewInfo";
           btn.ControlStyle.CssClass = "btnpaddingrow15px";
           //btn.Attributes["OutputFormatAttribute"] = "XLS";
           btn.Text = "Report View";
           //btn.UseSubmitBehavior = true;
           //btn.Images.Image.Url = "~/Images/Excel.png";
           btn.ClientSideEvents.Click = "teacherDataExportController.OnclickChangeReports";
        }).GetHtml()
    </div>

    <div class="col-sm-2 col-6">
        @Html.DevExpress().TextBox(
         settingstxt =>
         {
             settingstxt.Name = "txtTeacherID";
             settingstxt.ClientVisible = false;
         }).GetHtml()

        @Html.DevExpress().TextBox(
       settingstxt =>
       {
           settingstxt.Name = "txtisall";
           settingstxt.ClientVisible = false;
       }).GetHtml()
    </div>
</div>
<br>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()ViewContext.Writer.Write("<div id=\"divstudsession\" class=\"gridviewdivhight\"  > ");
    Html.RenderPartial("ListTeacherDataPartial", (new UnitOfWork()).vTeacherDataExportService.GetTeacherListForDataExport(int.Parse(Session["SessionID"].ToString()), byte.Parse(Session["CompID"].ToString()), byte.Parse(Session["BranchID"].ToString())));
    ViewContext.Writer.Write("</div>");
}



@Html.DevExpress().LoadingPanel(
            settings =>
            {
                settings.Name = "loadingPanelTeacher";
                settings.Modal = true;
                settings.ContainerElementID = "";
                settings.Styles.LoadingDiv.BackColor = System.Drawing.Color.White;
            }).GetHtml()