@using appSchool.Repositories
@using appSchool.Model
@using appSchool.ViewModels

@model modelSendSms


<div class="SMSTempForm">
    <div class="row">
        <div class="col-6 col-sm-2">
            @Html.DevExpress().Label(settingslbl =>
                 {
                     settingslbl.Name = "lbltemplate";
                     settingslbl.Width = Unit.Percentage(100);
                     settingslbl.ControlStyle.CssClass = "col-form-label-sm";
                     settingslbl.Text = "Select Template Name";
                 }).GetHtml()
            @Html.DevExpress().ComboBox(
                 settingscbo =>
                 {
                     settingscbo.Name = "TemplateID";
                     settingscbo.ControlStyle.CssClass = "form-control";
                     settingscbo.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                     settingscbo.Properties.DropDownStyle = DropDownStyle.DropDownList;

                     settingscbo.Properties.TextField = "TemplateName";
                     settingscbo.Properties.ValueField = "TemplateID";
                     settingscbo.SelectedIndex = 0;
                     settingscbo.Properties.ClientSideEvents.SelectedIndexChanged = "schedulerWishesTeacherController.SelectedTemplate";
                 }).BindList(new UnitOfWork().smsTemplateService.GetSMSTemplateListForTeacher(byte.Parse(Session["CompID"].ToString()), byte.Parse(Session["BranchID"].ToString()))).GetHtml()
        </div>


        <div class="col-6 col-sm-2">
            @Html.DevExpress().LabelFor(
                 model => model.SMSLanguage,
                 settings =>
                 {
                     settings.Text = "SMS Language";
                     settings.ControlStyle.CssClass = "col-form-label-sm";
                     settings.AssociatedControlName = "SMSLanguage";
                 }).GetHtml()

            @Html.DevExpress().ComboBoxFor(
                 model => model.SMSLanguage,
                 settings =>
                      {

                          settings.ControlStyle.CssClass = "form-control";
                          settings.ShowModelErrors = true;
                          settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                          settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                          settings.Name = "SMSLanguage";
                          settings.Properties.TextField = "Value";
                          settings.Properties.ValueField = "Key";
                          settings.SelectedIndex = 0;
                          settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                          settings.Properties.ClientSideEvents.SelectedIndexChanged = "schedulerWishesTeacherController.SelectedIdexChangeForLanguage";


                      }).BindList(cCommon.GetLanguageList()).GetHtml()

        </div>

        <div class="col-6 col-sm-2">
            @Html.DevExpress().LabelFor(
                  model => model.OrderedBy,
                     settings =>
                     {
                         settings.Text = "Ordered By";
                         settings.ControlStyle.CssClass = "label";
                         settings.AssociatedControlName = "OrderedBy";
                     }).GetHtml()


            @Html.DevExpress().ComboBoxFor(
                 model => model.OrderedBy,
                 settings =>
                 {
                     settings.ControlStyle.CssClass = "form-control";
                     settings.ShowModelErrors = true;
                     settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                     settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                     settings.Name = "OrderedBy";
                     settings.Properties.TextField = "FirstName";
                     settings.Properties.ValueField = "TeacherID";
                     settings.SelectedIndex = 0;
                     settings.Properties.DropDownStyle = DropDownStyle.DropDown;

                 }).BindList((new TeacherRegistrationRepository()).GetTeacherRegistrationDataForList(byte.Parse(Session["CompID"].ToString()), byte.Parse(Session["BranchID"].ToString()))).GetHtml()
        </div>
        <div class="col-6 col-sm-2">
            @Html.DevExpress().CheckBoxFor(
             model => model.smsCopy,
             settings =>
             {
                 settings.Name = "smsCopy";
                 settings.Checked = true;
                 settings.Text = "Send SMS Copy";
                 settings.ControlStyle.CssClass = "rolfloatleft";
             }).GetHtml()

            @Html.DevExpress().CheckBoxFor(
             model => model.smsAdminCopy,
             settings =>
             {
                 settings.Name = "smsAdminCopy";
                 settings.Checked = true;
                 settings.Text = "Send Admin Copy";
                 settings.ControlStyle.CssClass = "rolfloatleft";
             }).GetHtml()
        </div>

        <div class="col-6 col-sm-4">
            @Html.DevExpress().Label(settingslbl =>
                  {
                      settingslbl.Name = "lbldate";
                      settingslbl.Width = Unit.Percentage(100);
                      settingslbl.ControlStyle.CssClass = "col-form-label-sm";
                      settingslbl.Text = "Select Date";

                  }).GetHtml()
            @Html.DevExpress().DateEditFor(
                    model => model.ScheduledDate,
                    settings =>
                         {
                             settings.Name = "ScheduledDate";
                             settings.ControlStyle.CssClass = "editor";
                             settings.Properties.NullText = "dd MMM yyyy";
                             settings.Properties.EditFormat = EditFormat.Custom;
                             settings.Properties.EditFormatString = "dd/MM/yyyy hh:mm tt";
                             settings.Properties.TimeSectionProperties.Visible = true;

                             settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.DateTime;
                             settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormatString = "hh:mm tt";
                             settings.Date = DateTime.Now;
                        //settings.Properties.MaxDate = DateTime.Now;
                        settings.Properties.MinDate = DateTime.Now.Date;
                             settings.Properties.ClientSideEvents.DateChanged = "schedulerWishesTeacherController.CheckDate";


                             settings.ShowModelErrors = true;
                             settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                         }).GetHtml()


        </div>

    </div>
    <div class="row">
        <div class="col-6 col-sm-2">
            @Html.DevExpress().Label(settingslbl =>
            {
                settingslbl.Name = "lblFromDate";
                settingslbl.ControlStyle.CssClass = "col-form-label-sm";
                settingslbl.Text = "From Date:";
            }).GetHtml()

            @Html.DevExpress().DateEdit(
            settingsdate =>
            {
                settingsdate.Name = "FromDate";
                settingsdate.ControlStyle.CssClass = "editor";
                settingsdate.Properties.NullText = "dd MMM yyyy";
                settingsdate.Properties.EditFormat = EditFormat.Custom;
                settingsdate.Properties.EditFormatString = "dd MMM yyyy";
                settingsdate.Date = DateTime.Now;
                //  settingsdate.Properties.ClientSideEvents.DateChanged = "sendSMSAbsenteesController.OnDateChanged";
            }).GetHtml()

        </div>

        <div class="col-6 col-sm-2">
            @Html.DevExpress().Label(settingslbl =>
            {
             settingslbl.Name = "lblToDate";
             settingslbl.ControlStyle.CssClass = "col-form-label-sm";
             settingslbl.Text = "To Date:";
             }).GetHtml()

            @Html.DevExpress().DateEdit(
            settingsdate =>
            {
            settingsdate.Name = "ToDate";
            settingsdate.ControlStyle.CssClass = "editor";
            settingsdate.Properties.NullText = "dd MMM yyyy";
            settingsdate.Properties.EditFormat = EditFormat.Custom;
            settingsdate.Properties.EditFormatString = "dd MMM yyyy";
            settingsdate.Date = DateTime.Now;
            //  settingsdate.Properties.ClientSideEvents.DateChanged = "sendSMSAbsenteesController.OnDateChanged";
            }).GetHtml()
        </div>

        <div class="col-6 col-sm-2">
            @Html.DevExpress().Label(settingslbl =>
         {
             settingslbl.Name = "lb";
             settingslbl.ControlStyle.CssClass = "col-form-label-sm";
             settingslbl.Text = "Select Wishes";
         }).GetHtml()

            @Html.DevExpress().ComboBox(
               settingscbo =>
               {
                   settingscbo.Name = "WishesType";
                   settingscbo.ControlStyle.CssClass = "editor";
                   settingscbo.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                   settingscbo.Properties.DropDownStyle = DropDownStyle.DropDown;
                   settingscbo.Properties.TextField = "value";
                   settingscbo.Properties.ValueField = "Key";
                   settingscbo.Properties.ValueType = typeof(int);
                   //settingscbo.ShowModelErrors = true;
                   //settingscbo.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                   settingscbo.Properties.ClientSideEvents.SelectedIndexChanged = "schedulerWishesTeacherController.SelectedWishType";
               }
           ).BindList(cCommon.GetWishesTypeListForTeacher()).GetHtml()

        </div>
        <div class="col-6 col-sm-2">

            @Html.DevExpress().Button(
            settingsbtn =>
            {
                settingsbtn.Name = "btnLoad";
                settingsbtn.ControlStyle.CssClass = "btnpaddingrow15px";
                settingsbtn.Width = System.Web.UI.WebControls.Unit.Percentage(97);
                settingsbtn.Height = 30;
                settingsbtn.RenderMode = ButtonRenderMode.Button;
                settingsbtn.Text = "Get List";
                settingsbtn.ImagePosition = ImagePosition.Right;
                settingsbtn.Images.Image.IconID = "actions_refresh_16x16gray";
                settingsbtn.ClientSideEvents.Click = "schedulerWishesTeacherController.ClickLoadGrid";
            }).GetHtml()

            @Html.DevExpress().TextBox(
            settingstxt =>
            {
            settingstxt.Name = "txtwishesType";
            settingstxt.ClientVisible = false;
            }).GetHtml()

        </div>
        <div class="col-6 col-sm-4"></div>
    </div>

</div>


<div class="row">
    <div class="col-sm-6" id="divhindismstext" style="display: none">

        <div class="row">

            <div class="col-sm-3">
                @Html.DevExpress().LabelFor(
                          model => model.PrefixHindi,
                          settings =>
                          {
                              settings.Name = "lblhindiheader";
                              settings.Text = "For Hindi";
                              settings.ControlStyle.CssClass = "col-form-label-sm lableredcolor";
                          }).GetHtml()

                @Html.DevExpress().TextBoxFor(
                          model => model.PrefixHindi,
                          settings =>
                          {
                              settings.Name = "PrefixHindi";
                              settings.ShowModelErrors = true;
                              settings.ControlStyle.CssClass = "col-form-label-sm";
                              settings.ShowModelErrors = true;
                              settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                              settings.Width = Unit.Pixel(150);

                          }).GetHtml()
            </div>

            <div class="col-sm-9">
                @Html.DevExpress().Label(settingslbl =>
                          {

                              settingslbl.Name = "lbtempcounthindi";
                              settingslbl.ControlStyle.CssClass = "lablehidecolor";
                              settingslbl.Text = ".";

                          }).GetHtml()


                @Html.DevExpress().TextBox(
                          settings =>
                          {
                              settings.Text = "0";
                              settings.ClientVisible = true;
                              settings.Name = "lblCharCountHindi";
                          }).GetHtml()
            </div>

        </div>


        <div class="row">

            <div class="col-sm-12">
                @Html.DevExpress().MemoFor(
                          model => model.smsTextHindi,
                          settings =>
                          {
                              settings.Name = "smsTextHindi";
                              settings.ShowModelErrors = true;
                              settings.ControlStyle.CssClass = "col-form-label-sm";
                              settings.ShowModelErrors = true;
                              settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                              settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                              settings.Height = System.Web.UI.WebControls.Unit.Pixel(90);
                              settings.Properties.ClientSideEvents.KeyUp = "schedulerWishesTeacherController.keyPressForWordCountHindi";
                          }).GetHtml()
            </div>


        </div>


    </div>



    <div class="col-sm-6" id="divengsmstext" style="border:0px solid #ff0000">

        <div class="row">

            <div class="col-sm-3">

                @Html.DevExpress().LabelFor(
                          model => model.PrefixEnglish,
                          settings =>
                          {
                              settings.Name = "lblengheader";
                              settings.Text = "For English";
                              settings.ControlStyle.CssClass = "editor lableredcolor";
                              settings.AssociatedControlName = "PrefixEnglish";
                          }).GetHtml()

                @Html.DevExpress().TextBoxFor(
                          model => model.PrefixEnglish,
                          settings =>
                          {
                              settings.ShowModelErrors = true;
                              settings.ControlStyle.CssClass = "col-form-label-sm ";
                              settings.ShowModelErrors = true;
                              settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                              settings.Name = "PrefixEnglish";
                              settings.Width = Unit.Pixel(150);
                          }).GetHtml()
            </div>

            <div class="col-sm-9">
                @Html.DevExpress().Label(settingslbl =>
                          {

                              settingslbl.Name = "lbtempcounteng";
                              settingslbl.ControlStyle.CssClass = "lablehidecolor";
                              settingslbl.Text = ".";

                          }).GetHtml()
                @Html.DevExpress().TextBox(
                          settings =>
                          {
                              settings.Text = "0";
                              settings.ControlStyle.CssClass = "col-form-label-sm";
                              settings.ClientVisible = true;
                              settings.Name = "lblCharCount";
                              settings.Width = Unit.Pixel(150);
                          }).GetHtml()
            </div>

        </div>


        <div class="row">

            <div class="col-sm-12">
                @Html.DevExpress().MemoFor(
                               model => model.smsTextEnglish,
                               settings =>
                               {
                                   settings.Name = "smsTextEnglish";
                                   settings.ShowModelErrors = true;
                                   settings.ControlStyle.CssClass = "col-form-label-sm";
                                   settings.ShowModelErrors = true;
                                   settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Height = System.Web.UI.WebControls.Unit.Pixel(90);
                                   settings.Properties.ClientSideEvents.KeyUp = "schedulerWishesTeacherController.keyPressForWordCountEnglish";
                               }).GetHtml()
            </div>


        </div>



    </div>




    <div class="col-sm-6">

        @*@Html.DevExpress().Label(settingslbl =>
            {
                settingslbl.Name = "lblsmsmobileno";
                settingslbl.ControlStyle.CssClass = "col-form-label-sm";
                settingslbl.Text = "Mobile No";

            }).GetHtml()*@

        @Html.DevExpress().Button(
                      settings =>
                              {
                                  settings.ControlStyle.CssClass = "btnpaddingrow15px";
                                  settings.Name = "btnSendSms";
                                  settings.Text = "Send SMS";
                                  settings.Images.Image.IconID = IconID.MailMail16x16;
                                  settings.UseSubmitBehavior = true;
                              }).GetHtml()

        @Html.DevExpress().MemoFor(
                                model => model.smsMobileNo,
                                settings =>
                                {
                                    settings.ShowModelErrors = true;
                                    settings.ControlStyle.CssClass = "col-form-label-sm";

                                    settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                                    settings.Name = "smsMobileNo";
                                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                    settings.Height = System.Web.UI.WebControls.Unit.Pixel(90);
                                    settings.ClientVisible = true;
                                    settings.Properties.EnableClientSideAPI = true;

                                }).GetHtml()

        @Html.DevExpress().MemoFor(
                                model => model.smsStudentID,
                                settings =>
                                {
                                    settings.ControlStyle.CssClass = "col-form-label-sm";
                                    settings.ShowModelErrors = true;
                                    settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                                    settings.Name = "smsStudentID";
                                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                    settings.ClientVisible = false;
                                    settings.Properties.EnableClientSideAPI = true;
                                }).GetHtml()





    </div>

    @*<div class="col-sm-3">
              @Html.DevExpress().LabelFor(
              model => model.PrefixHindi,
        settings =>
             {
            settings.Text = "For Hindi";
            settings.ControlStyle.CssClass = "lblHindi";
           // settings.AssociatedControlName = "";
         }).GetHtml()
              @Html.DevExpress().TextBoxFor(
                         model => model.PrefixHindi,
                         settings =>
                          {
                             settings.ShowModelErrors = true;
                             settings.ControlStyle.CssClass = "editor";
                             settings.ShowModelErrors = true;
                             settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                             //settings.Name = "txtMessege";
                             settings.Name = "PrefixHindi";
                             settings.Width = 200;
                           //  settings.ReadOnly = true;
                         }).GetHtml()
              @Html.DevExpress().MemoFor(
                         model => model.smsTextHindi,
                         settings =>
                          {
                             settings.ShowModelErrors = true;
                             settings.ControlStyle.CssClass = "editor";
                             settings.ShowModelErrors = true;
                             settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                             //settings.Name = "txtMessege";
                             settings.Name = "smsTextHindi";
                             settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                             settings.Properties.ClientSideEvents.KeyUp = "schedulerWishesTeacherController.keyPressForWordCountHindi";
                         }).GetHtml()
              @Html.DevExpress().TextBox(
           settings =>
                {
               settings.Text = "0";
               settings.ClientVisible = true;
               settings.Name = "lblCharCountHindi";
               //settings.AssociatedControlName = "OrderedBy";
            }).GetHtml()


          </div>

          <div class="col-sm-9">
              @Html.DevExpress().LabelFor(
                model => model.PrefixEnglish,
          settings =>
               {
              settings.Text = "For English";
              settings.ControlStyle.CssClass = "editor";
             // settings.AssociatedControlName = "";
           }).GetHtml()

              @Html.DevExpress().TextBoxFor(
                 model => model.PrefixEnglish,
                 settings =>
                      {
                     settings.ShowModelErrors = true;
                     settings.ControlStyle.CssClass = "editor";
                     settings.ShowModelErrors = true;
                     settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                     //settings.Name = "txtMessege";
                     settings.Name = "PrefixEnglish";
                     settings.Width = 200;
                     //settings.ReadOnly = true;
                 }).GetHtml()


              @Html.DevExpress().MemoFor(
                      model => model.smsTextEnglish,
                      settings =>
                          {
                              settings.ShowModelErrors = true;
                          settings.ControlStyle.CssClass = "editor";
                          settings.ShowModelErrors = true;
                          settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                          //settings.Name = "txtMessege";
                          settings.Name = "smsTextEnglish";
                          settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                          settings.Properties.ClientSideEvents.KeyUp = "schedulerWishesTeacherController.keyPressForWordCountEnglish";
                      }).GetHtml()

              @Html.DevExpress().TextBox(
          settings =>
               {
              settings.Text = "0";
              settings.ClientVisible = true;
              settings.Name = "lblCharCount";
              //settings.AssociatedControlName = "OrderedBy";
           }).GetHtml()

          </div>*@


</div>

@*@Html.DevExpress().MemoFor(
             model=> model.smsMobileNo,
            settings =>{
                settings.ShowModelErrors = true;
                settings.ControlStyle.CssClass = "editor";
                settings.ShowModelErrors = true;
                settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                settings.Name = "smsMobileNo";
                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                settings.ClientVisible = false ;
                settings.Properties.EnableClientSideAPI = true;
          
            }).GetHtml()


@Html.DevExpress().MemoFor(
             model=> model.smsStudentID,
            settings =>{
                settings.ShowModelErrors = true;
                settings.ControlStyle.CssClass = "editor";
              
                settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                settings.Name = "smsStudentID";
                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                settings.ClientVisible = false ;
                settings.Properties.EnableClientSideAPI = true;
          
            }).GetHtml()*@
         


@*        
@Html.DevExpress().MemoFor(
             model=> model.smsMobileNo,
            settings => {
                settings.ShowModelErrors = true;
                settings.ControlStyle.CssClass = "editor";
                settings.ShowModelErrors = true;
                settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                settings.Name = "smsMobileNo";
                  settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                settings.Properties.EnableClientSideAPI = true;
            }).GetHtml()*@


<div class="SMSTempForm">
    <div class="row">
        <div class="col-sm-12">
            @Html.DevExpress().CheckBoxFor(
         model => model.includeName,
         settings =>
         {
             settings.Name = "inCludeName";
             settings.Checked = true;
             settings.Text = "Select to Include Teacher Name in Message / Use $Name$ ";
             settings.ControlStyle.ForeColor = System.Drawing.Color.Maroon;
             settings.ControlStyle.Font.Size = 12;
             settings.Properties.ClientSideEvents.CheckedChanged = "schedulerWishesTeacherController.IncludeTeacherName";
             if (SettingMasterStaticClass._IncludeNameInSMS == true)
             {

                 //settings.ReadOnly = true;
                 settings.Checked = true;
             }
             else
             {

                 //settings.ReadOnly = false;
                 settings.Checked = false;
             }
         }
         ).GetHtml()
        </div>

        @*<div class="col-sm-12">
            @Html.DevExpress().Button(
             settings =>
             {
                 settings.ControlStyle.CssClass = "btnpaddingrow15px";
                 settings.Name = "btnSendSms";
                 settings.Text = "Send Scheduler SMS";

                 settings.UseSubmitBehavior = true;
             }).GetHtml()
            
        
    </div>*@
</div>

</div>

















