@using appSchool.ViewModels
@model myModel
@using appSchool.Repositories

<div class="row">


    <div class="col-sm-2">
        @Html.DevExpress().Label(settingslbl =>
            {
                settingslbl.Name = "lblclass";
                settingslbl.Width = Unit.Percentage(100);
                settingslbl.ControlStyle.CssClass = "col-form-label-sm";
                settingslbl.Text = "Select Class";

            }).GetHtml()

        @*@Html.Partial("ListClassGridLookupPartial", new ClassRepository().GetClassSetupNavigationBar(byte.Parse(Session["CompID"].ToString()), byte.Parse(Session["BranchID"].ToString())));*@

        @Html.Partial("ListClassGridLookupPartial", (new UnitOfWork().classSetupService.GetClassSetupList(byte.Parse(Session["CompID"].ToString()), byte.Parse(Session["BranchID"].ToString()))))


        @Html.DevExpress().TextBox(
        settingstxt =>
        {
            settingstxt.Name = "txtclassSetup";
            settingstxt.ClientVisible = false;
        }).GetHtml()

        @Html.DevExpress().Button(
           settingsBttn =>
           {
               settingsBttn.Name = "Getstudentlist";
               settingsBttn.ControlStyle.CssClass = "btnpaddingrow";
               //settingsBttn.Width = 80;
               settingsBttn.Text = "Get Student";
               settingsBttn.ClientVisible = false;
               settingsBttn.ClientSideEvents.Click = "attendanceDatewiseController.ClickLoadGrid";
           }).GetHtml()

    </div>
    <div class="col-sm-2">

        @Html.DevExpress().Label(settingslbl =>
            {
                settingslbl.Name = "lbldate";
                settingslbl.Width = Unit.Percentage(100);
                settingslbl.ControlStyle.CssClass = "col-form-label-sm";
                settingslbl.Text = "Select Date";

            }).GetHtml()
        @Html.DevExpress().DateEdit(
       settingsdate =>
       {
           settingsdate.Name = "AttendanceDate";
           settingsdate.ControlStyle.CssClass = "editor";
           settingsdate.Properties.NullText = "dd MMM yyyy";
           settingsdate.Properties.EditFormat = EditFormat.Custom;
           settingsdate.Properties.EditFormatString = "dd MMM yyyy";
           settingsdate.ShowModelErrors = true;
           settingsdate.Date = DateTime.Now.Date;
           settingsdate.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
       }).GetHtml()
    </div>
     <div class="col-sm-2">
        @Html.DevExpress().Button(
        settingsbtn =>
        {
            settingsbtn.Name = "btnAttendanceDaily";
            settingsbtn.ControlStyle.CssClass = "btnpaddingrow15px";
            settingsbtn.Text = "Attendance List";
            settingsbtn.Width = 150;
            settingsbtn.Images.Image.IconID = IconID.EditPaste16x16;
            settingsbtn.ImagePosition = ImagePosition.Left;
            // settings.ClientSideEvents.Click = "function(s, e) { CallbackPanel.PerformCallback(); }";
            settingsbtn.ClientSideEvents.Click = "attendanceDatewiseController.ClickAttendanceButton";
        }).GetHtml()
    </div>

       
    </div>

    @Html.DevExpress().TextBox(
                    settingtxtbox =>
                    {
                        settingtxtbox.Name = "txtclassName";
                        //settingtxtbox.ControlStyle.CssClass = "className";
                        //settingtxtbox.ControlStyle.Font.Bold = true;
                        settingtxtbox.ControlStyle.Font.Size = 16;

                        //settingtxtbox.Enabled = false;
                        settingtxtbox.ReadOnly = true;
                        settingtxtbox.ClientVisible = false;
                    }).GetHtml()

    @Html.DevExpress().TextBox(
                       settingtxtbox =>
                       {
                           settingtxtbox.Name = "txtclassID";
                           //settingtxtbox.ControlStyle.CssClass = "className";
                           //settingtxtbox.ControlStyle.Font.Bold = true;
                           settingtxtbox.ControlStyle.Font.Size = 16;

                           //settingtxtbox.Enabled = false;
                           settingtxtbox.ClientVisible = false;
                       }).GetHtml()


   

@*@Html.DevExpress().Splitter(settings =>
{
    settings.Name = "AttendanceDatewiseBodySplitter";
    settings.Orientation = System.Web.UI.WebControls.Orientation.Horizontal;
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Styles.Pane.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
    settings.Styles.Pane.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);

    settings.ClientSideEvents.PaneResized = "attendanceDatewiseController.splitterResized";

    settings.Panes.Add(subpane =>
    {
        subpane.Name = "LeftPane";
        subpane.PaneStyle.CssClass = "leftPane";
        subpane.ScrollBars = System.Web.UI.WebControls.ScrollBars.Auto;
        subpane.ShowCollapseBackwardButton = DefaultBoolean.True;
        subpane.ShowCollapseForwardButton = DefaultBoolean.True;
       // subpane.ShowCollapseBackwardButton = DefaultBoolean.true;
        subpane.Size = System.Web.UI.WebControls.Unit.Pixel(280);
        subpane.PaneStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(1);
        subpane.SetContent(() =>
        {
            Html.RenderPartial("AttendanceTreePartial");
        });
    });

    settings.Panes.Add(subpane =>
    {
        subpane.Name = "MiddleCenter";
        subpane.PaneStyle.CssClass = "contentPane";

        //subpane.ScrollBars = System.Web.UI.WebControls.ScrollBars.Auto;
        subpane.ShowCollapseBackwardButton = DefaultBoolean.True;
        subpane.ShowCollapseForwardButton = DefaultBoolean.True;
        subpane.Separator.Visible = DefaultBoolean.True;
        subpane.Separator.SeparatorStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
        subpane.Separator.SeparatorStyle.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
        subpane.PaneStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);
        subpane.Panes.Add
            (toppane =>
            {

                toppane.Name = "TopCenter";
                toppane.Separator.Visible = DefaultBoolean.True;

                toppane.Separator.SeparatorStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
                toppane.Separator.SeparatorStyle.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
                toppane.PaneStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);
                toppane.Size = System.Web.UI.WebControls.Unit.Pixel(45);
                toppane.SetContent(() =>
                {

                    //ViewContext.Writer.Write("<div class='AttStudenttop'>");
                    ViewContext.Writer.Write("<table><tr><td Style=\"padding-right:15px;\">");

                    ViewContext.Writer.Write("</td><td Style=\"padding-right:10px;\">");
                    @Html.DevExpress().TextBox(
                        settingtxtbox =>
                        {
                            settingtxtbox.Name = "txtclassName";
                        //settingtxtbox.ControlStyle.CssClass = "className";
                        //settingtxtbox.ControlStyle.Font.Bold = true;
                        settingtxtbox.ControlStyle.Font.Size = 16;

                        //settingtxtbox.Enabled = false;
                        settingtxtbox.ReadOnly = true;
                }).GetHtml();


                    ViewContext.Writer.Write("</td><td Style=\"padding-right:10px;\">");
                    @Html.DevExpress().TextBox(
                        settingtxtbox =>
                        {
                            settingtxtbox.Name = "txtclassID";
                            //settingtxtbox.ControlStyle.CssClass = "className";
                            //settingtxtbox.ControlStyle.Font.Bold = true;
                            settingtxtbox.ControlStyle.Font.Size = 16;

                            //settingtxtbox.Enabled = false;
                            settingtxtbox.ClientVisible = false;
                        }).GetHtml();

                    ViewContext.Writer.Write("</td><td>");




                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div class='AttStudenttop'>");




                    Html.DevExpress().DateEdit(
                            settingsdate =>
                            {
                                settingsdate.Name = "AttendanceDate";
                                settingsdate.ControlStyle.CssClass = "editor";
                                settingsdate.Properties.NullText = "dd MMM yyyy";
                                settingsdate.Properties.EditFormat = EditFormat.Custom;
                                settingsdate.Properties.EditFormatString = "dd MMM yyyy";
                                settingsdate.ShowModelErrors = true;
                                settingsdate.Date = DateTime.Now.Date;
                                settingsdate.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                            }).GetHtml();
                    ViewContext.Writer.Write("</td><td>");

                    if (PermissionFlag._AddFlag == true)
                    {
                        Html.DevExpress().Button(
                          settingsbtn =>
                          {
                              settingsbtn.Name = "btnAttendanceDaily";
                              settingsbtn.ControlStyle.CssClass = "button";
                              settingsbtn.Text = "Attendance List";
                              settingsbtn.Width = 150;
                              settingsbtn.Images.Image.IconID = IconID.EditPaste32x32;
                              settingsbtn.ImagePosition = ImagePosition.Left;
                              // settings.ClientSideEvents.Click = "function(s, e) { CallbackPanel.PerformCallback(); }";
                              settingsbtn.ClientSideEvents.Click = "attendanceDatewiseController.ClickAttendanceButton";
                          }).GetHtml();
                    }

                    ViewContext.Writer.Write("</td><td Style=\"padding-left:20px;\">");

                    @Html.DevExpress().HyperLink(settingshl =>
                    {
                        settingshl.Name = "hyperLinkName";
                        settingshl.ControlStyle.CssClass = "button";
                        settingshl.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "AttendanceManager", Action = "Index" });
                        settingshl.Properties.Text = "Back to Attendance";


                    }).GetHtml();

                    ViewContext.Writer.Write("</td></tr></table>");


                    //ViewContext.Writer.Write("</div>");
                });

    });
        subpane.Panes.Add
            (bottompane =>
            {

                bottompane.Name = "TopCenter";
                bottompane.Separator.Visible = DefaultBoolean.True;
                bottompane.Separator.SeparatorStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
                bottompane.Separator.SeparatorStyle.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
                bottompane.PaneStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(5);


                bottompane.SetContent(() =>
                {
                    Html.RenderPartial("AttendanceDatewiseLeftRight");
                });

            });


        //subpane.SetContent(() =>
        //{
        //    Html.RenderPartial("AttendanceTopBottomPartial");
        //});
    });
    //settings.Panes.Add(subpane =>
    //{
    //    subpane.Name = "RightPane";
    //    subpane.PaneStyle.CssClass = "contentPane";
    //    //subpane.ScrollBars = System.Web.UI.WebControls.ScrollBars.Auto;
    //    subpane.MinSize = System.Web.UI.WebControls.Unit.Pixel(100);
    //    subpane.Separator.Visible = DefaultBoolean.True;
    //    subpane.Separator.SeparatorStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
    //    subpane.Separator.SeparatorStyle.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
    //    subpane.PaneStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(8);
    //    subpane.SetContent(() =>
    //    {
    //      //  Html.RenderPartial("PickRecipientPartial");
    //    });
    //});



}).GetHtml()*@