@using appSchool.Repositories
@using appSchool.ViewModels

@model modelAchievementinfo


@{ ViewBag.Title = "Flyer Master";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@section Head {

    <script type="text/javascript" src="@Url.Content("~/Content/GridView.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/GridView.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/jsControllers/flyermasterController.js")"></script>

}

@section PageToolbar {
    @Html.DevExpress().Menu(menuSettings =>
    {
        menuSettings.Name = "pageToolbar";

        menuSettings.ItemAutoWidth = false;
        menuSettings.AllowSelectItem = false;
        menuSettings.ApplyItemStyleToTemplates = true;

        menuSettings.SettingsAdaptivity.Enabled = true;
        menuSettings.SettingsAdaptivity.EnableAutoHideRootItems = true;
        menuSettings.SettingsAdaptivity.EnableCollapseRootItemsToIcons = true;
        menuSettings.SettingsAdaptivity.CollapseRootItemsToIconsAtWindowInnerWidth = 600;

        menuSettings.Width = Unit.Percentage(100);
        menuSettings.ControlStyle.SeparatorWidth = Unit.Pixel(0);
        menuSettings.ControlStyle.CssClass = "page-toolbar";

        menuSettings.Styles.Item.CssClass = "item";
        menuSettings.Styles.Item.VerticalAlign = VerticalAlign.Middle;

        menuSettings.Images.Item.Width = Unit.Pixel(16);
        menuSettings.Images.Item.Height = Unit.Pixel(16);

        menuSettings.Items.Add(item =>
        {
            item.Enabled = false;
            item.SetTemplateContent(template => ViewContext.Writer.Write("<h1>Flyer Master</h1>"));
        });
        menuSettings.Items.Add(item =>
        {
            item.Name = "New";
            item.Text = "New";
            item.Alignment = MenuItemAlignment.Right;
            item.AdaptivePriority = 2;
            item.Image.Url = "~/Content/Images/add.svg";
        });
        menuSettings.Items.Add(item =>
        {
            item.Name = "Edit";
            item.Text = "Edit";
            item.Alignment = MenuItemAlignment.Right;
            item.AdaptivePriority = 2;
            item.Image.Url = "~/Content/Images/edit.svg";
        });
        menuSettings.Items.Add(item =>
        {
            item.Name = "Delete";
            item.Text = "Delete";
            item.Alignment = MenuItemAlignment.Right;
            item.AdaptivePriority = 2;
            item.Image.Url = "~/Content/Images/delete.svg";
        });
        menuSettings.Items.Add(item =>
        {
            item.Name = "Export";
            item.Text = "Export";
            item.Alignment = MenuItemAlignment.Right;
            item.AdaptivePriority = 2;
            item.Image.Url = "~/Content/Images/export.svg";
        });
        menuSettings.Items.Add(item =>
        {
            item.Name = "ToggleFilterPanel";
            item.Text = "";
            item.GroupName = "Filter";
            item.Alignment = MenuItemAlignment.Right;
            item.AdaptivePriority = 1;
            item.Image.Url = "~/Content/Images/search.svg";
            item.Image.UrlChecked = "~/Content/Images/search-selected.svg";
        });
        menuSettings.ClientSideEvents.ItemClick = "onPageToolbarItemClick";
    }).GetHtml()

    @Html.DevExpress().Panel(panelSettings =>
    {
        panelSettings.Name = "filterPanel";
        panelSettings.Collapsible = true;
        panelSettings.ControlStyle.CssClass = "filter-panel";

        panelSettings.SettingsCollapsing.ExpandEffect = PanelExpandEffect.Slide;
        panelSettings.SettingsCollapsing.AnimationType = AnimationType.None;
        panelSettings.SettingsCollapsing.ExpandButton.Visible = false;

        panelSettings.SetContent(() =>
        {
            Html.DevExpress().ButtonEdit(buttonEditSettings =>
            {
                buttonEditSettings.Name = "searchButtonEdit";
                buttonEditSettings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                buttonEditSettings.Properties.Caption = "Search";
                buttonEditSettings.Width = Unit.Percentage(100);
            }).GetHtml();
        });

        panelSettings.ClientSideEvents.Expanded = "onFilterPanelExpanded";
        panelSettings.ClientSideEvents.Collapsed = "adjustPageControls";

    }).GetHtml()

}

@section LeftPanelContent {


    @{Html.RenderAction("ReturnLeftPanelView", "LeftAndRightPanel", new { moduleid = (int)appModule.appLfdManager });}


}


@section RightPanelContent {
    @{Html.RenderAction("ReturnRightPanelView", "LeftAndRightPanel");}

}

<div class="row" style="margin-right:0">



    <div class="col-sm-12">




        @{Html.RenderPartial("AchievementEditPartial");}

        @Html.DevExpress().PopupControl(
                    settings =>
                    {
                        settings.Name = "pcModalMode";
                        settings.Width = 320;
                        settings.Height = 120;
                        settings.AllowDragging = true;
                        settings.CloseAction = CloseAction.CloseButton;
                        settings.CloseOnEscape = true;
                        settings.PopupAnimationType = AnimationType.None;
                        settings.HeaderText = "Message Response";
                        settings.Modal = true;
                        settings.AutoUpdatePosition = true;
                        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
                        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
                        settings.SetContent(() =>
                        {
                            ViewContext.Writer.Write("<div id='divsmsresponse'  style='color:red'> </div>");

                        });

                        settings.ClientSideEvents.CloseUp = "function(s, e){ ASPxClientEdit.ClearEditorsInContainer(null, '', true); }";
                    }).GetHtml()

    </div>

</div>
<br />
<div class="row" style="margin-right:0">

    <div class="col-sm-12" id="divsmsstudent" style="border :0px solid #ff6a00 ">

        @{Html.RenderPartial("ListFlyerMaster", (new UnitOfWork()).flyermasterService.GetFlyerMasterList(byte.Parse(Session["CompID"].ToString()), byte.Parse(Session["BranchID"].ToString())));}
        

    </div>

</div>

@Html.DevExpress().LoadingPanel(
settings =>
{
    settings.Name = "loadingPanelTopper";
    settings.Modal = true;
    settings.ContainerElementID = "";
    settings.Styles.LoadingDiv.BackColor = System.Drawing.Color.White;
}).GetHtml()