@using appSchool.Repositories
@using appSchool.ViewModels
@model modelEmployeeSendSms

@{ ViewBag.Title = "Send Employee Absentees Messege";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@section Head {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/GridView.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/jsControllers/employeeSendSMSAbsenteesController.js")"></script>


}

@section LeftPanelContent {


    @{Html.RenderAction("ReturnLeftPanelView", "LeftAndRightPanel", new { moduleid = (int)appModule.appSMSManager });}


}


@section RightPanelContent {
    <div class="settings-content">
        <h2>Settings</h2>
        <p>Place your content here</p>
    </div>

}

<div class="row" style="margin-right:0">



    <div class="col-sm-12">

        @{Html.RenderPartial("SendSMSAbsenteesTextView", Model);}


        @Html.DevExpress().PopupControl(
             settings =>
             {
                 settings.Name = "pcModalMode";
                 settings.Width = 320;
                 settings.Height = 120;
                 settings.AllowDragging = true;
                 settings.CloseAction = CloseAction.CloseButton;
                 settings.CloseOnEscape = true;
                 settings.PopupAnimationType = AnimationType.None;
                 settings.HeaderText = "Message Response";
                 settings.Modal = true;
                 settings.AutoUpdatePosition = true;
                 settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
                 settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
                 settings.SetContent(() =>
                 {
                     ViewContext.Writer.Write("<div id='divsmsresponse'  style='color:red'> </div>");

                 });

                 settings.ClientSideEvents.CloseUp = "function(s, e){ ASPxClientEdit.ClearEditorsInContainer(null, '', true); }";
             }).GetHtml()

    </div>

</div>
<br />
<div class="row" style=" margin-right: 0">

    <div class="col-sm-12" id="divsmsstudent" style="border :1px solid #ff6a00 ">

        @{Html.RenderPartial("ListSendSMSAbsenteesView", new UnitOfWork().sendMessegeService.GetStudentSessionDefaultListByClassSetupIDs());}

    </div>

</div>

@Html.DevExpress().LoadingPanel(
settings =>
{
    settings.Name = "loadingPanelSmscomman";
    settings.Modal = true;
    settings.ContainerElementID = "";
    settings.Styles.LoadingDiv.BackColor = System.Drawing.Color.White;
}).GetHtml()